<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{$pageTitle}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="/dashboard">{$breadcrumbItem}</a>
            </li>
            <li class="breadcrumb-item active">{$appointments}</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">
      {if="$success == 1"}
      <span id="appointmentSuccess"></span>
      {/if} {if="$error == 1"}
      <span id="appointmentError"></span>
      {/if}
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-header">
              <h3 class="card-title">Filtrar Marcações</h3>
            </div>
            <form role="form" action="/marcacoes" method="GET">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <!-- Date dd/mm/yyyy -->
                    <div class="form-group">
                      <label>Data Inicial</label>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="far fa-calendar-alt"></i
                          ></span>
                        </div>
                        <input
                          type="date"
                          name="dtini"
                          value="{$dtini}"
                          class="form-control "
                        />
                      </div>
                      <!-- /.input group -->
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Date dd/mm/yyyy -->
                    <div class="form-group">
                      <label>Hora Inicial</label>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="far fa-clock"></i
                          ></span>
                        </div>
                        <input
                          type="time"
                          name="hrini"
                          value="{$hrini}"
                          class="form-control "
                        />
                      </div>
                      <!-- /.input group -->
                    </div>
                  </div>

                  <div class="col-md-1"></div>

                  <div class="col-md-3">
                    <!-- Date dd/mm/yyyy -->
                    <div class="form-group">
                      <label>Data Final</label>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="far fa-calendar-alt"></i
                          ></span>
                        </div>
                        <input
                          type="date"
                          name="dtend"
                          value="{$dtend}"
                          class="form-control "
                        />
                      </div>
                      <!-- /.input group -->
                    </div>
                  </div>

                  <div class="col-md-2">
                    <!-- Date dd/mm/yyyy -->
                    <div class="form-group">
                      <label>Hora Final</label>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="far fa-clock"></i
                          ></span>
                        </div>
                        <input
                          type="time"
                          name="hrend"
                          value="{$hrend}"
                          class="form-control "
                        />
                      </div>
                      <!-- /.input group -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="search">Buscar:</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fas fa-search"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          name="search"
                          class="form-control"
                          id="search"
                          value="{$search}"
                          placeholder="Digite aqui Marcação, Nome Paciente, Tipo, Médico, Telefone, Status..."
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button
                  type="submit"
                  class="btn btn-sm btn-primary float-right"
                >
                  Filtrar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h1 class="card-title">
                <strong>Lista de Marcações</strong>
              </h1>

              <div class="card-tools">
                <div class="row no-print" style="width: 150px;">
                  <div class="col-12">
                    <a href="#" class="btn btn-default"
                      ><i class="fas fa-print"></i> Imprimir</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Marcação</th>
                    <th>Nome Paciente</th>
                    <th>Tipo</th>
                    <th>Médico</th>
                    <th style="width: 160px;">Data</th>
                    <th>Telefone</th>
                    <th>Status</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$logs"}
                  <tr>
                    <td>{$value.id_marcacao}</td>
                    <td>{$value.nome_pac}</td>
                    <td>{$value.descricao}</td>
                    <td>{$value.Medico}</td>
                    <td>{function="formatDate($value.Data_hora)"}h</td>
                    <td>
                      {if="$value.fone_celular == ''"}
                      <span class="text-red">Sem Número Cadastrado</span>
                      {else} {$value.fone_celular} {/if}
                    </td>
                    <td>
                      <strong>
                        {if="$value.Confirmacao == ''"}
                        <span class="text-yellow">Sem Resposta</span>
                        {elseif="$value.Confirmacao == 'S'"}
                        <span class="text-blue">Confirmada</span>
                        {else}
                        <span class="text-red">Desmarcada</span>
                        {/if}
                      </strong>
                    </td>
                    <td>
                      <a
                        href="/marcacoes/{$value.id}"
                        class="btn btn-primary btn-sm"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Atualizar Marcação"
                        ><i class="fa fa-edit"></i
                      ></a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            {if="$logs == false"}
            <strong class="text-center pt-5 pb-5"
              >Não há dados para serem exibidos na tabela!</strong
            >
            {/if}
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              {if="count($pages) > 1"}
              <ul class="pagination pagination-sm m-0 float-right">
                <li class='page-item {if="$firstPage == true"} disabled {/if}'>
                  <a class="page-link" href="{$first}"
                    ><i class="fas fa-angle-double-left"></i
                  ></a>
                </li>
                <li class='page-item {if="$firstPage == true"} disabled {/if}'>
                  <a class="page-link" href="{$prev}"
                    ><i class="fas fa-angle-left"></i
                  ></a>
                </li>
                {loop="$pages"}
                <li class='page-item {if="$value.active"} active {/if}'>
                  <a class="page-link" href="{$value.link}">{$value.text}</a>
                </li>
                {/loop}
                <li class='page-item {if="$lastPage == true"} disabled {/if}'>
                  <a class="page-link" href="{$next}"
                    ><i class="fas fa-angle-right"></i
                  ></a>
                </li>
                <li class='page-item {if="$lastPage == true"} disabled {/if}'>
                  <a class="page-link" href="{$last}"
                    ><i class="fas fa-angle-double-right"></i
                  ></a>
                </li>
              </ul>
              {/if}
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </section>
</div>
