<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{$pageTitle}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="/dashboard">{$dashboard}</a>
            </li>
            <li class="breadcrumb-item active">{$users}</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        {if="$success == 1"}
        <span class="userCreated"></span>
        {/if} {if="$error == 1"}
        <span class="userNotCreated"></span>
        {/if} {if="$success == 2"}
        <span class="passwordChanged"></span>
        {/if} {if="$error == 2"}
        <span class="passwordNotChanged"></span>
        {/if} {if="$success == 3"}
        <span class="userDeleted"></span>
        {/if} {if="$error == 3"}
        <span class="userNotDeleted"></span>
        {/if} {if="$success == 4"}
        <span class="userUpdated"></span>
        {/if} {if="$error == 4"}
        <span class="userNotUpdated"></span>
        {/if}

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <a href="/usuarios/cadastrar" class="btn btn-sm btn-primary"
                  ><i class="fas fa-user-plus"></i> Novo Usuário</a
                >
              </div>
              <div class="card-tools">
                <form action="/usuarios" method="get">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input
                      type="text"
                      name="search"
                      value="{$search}"
                      class="form-control float-right"
                      placeholder="Buscar"
                    />

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Admin</th>
                    <th>Ações</th>
                  </tr>
                </thead>

                <tbody>
                  {loop="$usersdb"}
                  <tr>
                    <td>{$value.id_user}</td>
                    <td>{$value.name}</td>
                    <td>{$value.login}</td>
                    <td>{$value.email}</td>
                    <td>{if="$value.admin == 1"}Sim{else}Não{/if}</td>
                    <td>
                      <a
                        href="/usuarios/{$value.id_user}"
                        class="btn btn-primary btn-sm"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Atualizar Usuário"
                        ><i class="fa fa-edit"></i
                      ></a>
                      <a
                        href="/usuarios/{$value.id_user}/senha"
                        class="btn btn-warning btn-sm"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Alterar Senha"
                        ><i class="fa fa-unlock"></i
                      ></a>
                      <a
                        href="/usuarios/{$value.id_user}/delete"
                        onclick="return confirm('Deseja realmente excluir este registro?')"
                        class="btn btn-danger btn-sm "
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Excluir Usuário"
                        ><i class="fa fa-trash"></i
                      ></a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            {if="$usersdb == false"}
            <strong class="text-center pt-5 pb-5"
              >Não há dados para serem exibidos na tabela!</strong
            >
            {/if}
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              {if="count($pages) > 1"}
              <ul class="pagination pagination-sm m-0 float-right">
                <li class='page-item {if="$firstPage == true"} disabled {/if}'>
                  <a class="page-link" href="{$first}"
                    ><i class="fas fa-angle-double-left"></i
                  ></a>
                </li>
                {loop="$pages"}
                  <li class='page-item {if="$value.active"} active {/if}'>
                    <a class="page-link" href="{$value.link}">{$value.text}</a>
                  </li>
                {/loop}
                <li class='page-item {if="$lastPage == true"} disabled {/if}'>
                  <a class="page-link" href="{$last}"
                    ><i class="fas fa-angle-double-right"></i
                  ></a>
                </li>
              </ul>
              {/if}
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
